<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.blackangel.baframework">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".core.base.BaseWebActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|screenSize"/>
    </application>
</manifest>
